# Ignoring ipynb, html and csv files folders for github's linguist detection
*.ipynb -linguist-detectable
*.csv -linguist-detectable
*.html -linguist-detectable
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
