# Folders
__pycache__
.vscode

# Extensions
*.docx
*.docx#
*.doc
*.csv
*.pdf
*.ppt
*.pptx
*.pptx#
*.xls
*.xlsx
*.stackdump
*.bkp
*.dtmp
*.rar

# Binary and executables
*.out
*.o
*.exe
*.bin

# Archives
*.7z
*.zip
*.gz
*.bz2

# Images and Videos
*.jpg
*.jpeg
*.png
*.mp4
*.mkv
*.gif

# Exceptions
lex.yy.c
y.tab.*
*test*
ignore
!/CD/Lab/Week_1_2/*.c
.obsidian
