# Folders
__pycache__

# Extensions
*.docx
*.docx#
*.doc
*.csv
*.pdf
*.ppt
*.pptx
*.pptx#
*.xsl
*.xslx

# Binary and executables
*.out
*.o
*.exe
*.bin

# Archives
*.7z
*.zip
*.gz

# Images and Videos
*.jpg
*.jpeg
*.png
*.mp4
*.mkv

# Exceptions
*temp*
!MI_Lab/Week_1/example.csv
