Books/
*template*
ignore
.vscode
*.odt
*.docx
*.docx#
*.doc
*.xlsx
*.csv
*.pdf
*.ppt
*.pptx
!*CS111*

# Test files
*test*
*temp*

# Output files
*.out
*.o
*.exe

# Archives
*.zip
*.7z
*.gz

# Images and Videos
*.jpg
*.png
*.mp4
*.mkv

# Subfolder git repositories
linux_stable
icmpdoor

# Exceptions
!*[mM][aA][nN][uU][aA][lL]*
